.deck-input {
  width: 80%; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.cardstyle {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
 
